/* Charte Graphique */
@font-face {
  font-family: "Lobster";
  src: url("../font_family/Lobster-Regular.ttf");
}

body {
  margin: 0;
  background-color: #e4fbff;
  font-family: Lobster, sans-serif;
  line-height: 1.4;
  font-size: 14px;
  box-sizing: border-box;
}

.bgSecondaire {
  background-color: #b8b5ff;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

/* Css */

header {
  position: absolute;
  top:0;
  left:0;
  right: 0;
}


li {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

button {
  margin:5px;
}

.login {
  float: right;
  text-align: center;
  width: 100px;
  margin-right: 20px;
}

.connection {
  display: flex;
  flex-direction: column;
}

.ul {
  display: flex;
  justify-content: space-evenly;
}

/* footer */
footer{
  background-color: #B8B5FF ;
}

.copyright{
  font-size: 10px;
  margin-top: 1%;
}  
.logo{

  margin-top: 1%;
  margin-left: 3%;
}

/* acceuil */
.main{
  
}

.articleimg{
  width: 65%;
  height: auto;
  border-radius: 15%;
}


.carousel {
  width: 100vw;
  height: 200px;
  position: relative;
}

.carousel > img {
  width: 100%;
  height: 250%;
  position: absolute;
  overflow: hidden;
  inset: 0;
  top: 0;
  opacity: 0;
  animation: display 15s infinite;
 
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}



@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
